# Logs
logs
*.log
npm-debug.log

# Runtime data
pids
*.pid
*.seed
.tmp/
dist/

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Editor/IDE Stuff
**/.idea

# OS STUFF
.DS_Store
.tmp
